*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

ul li{
    list-style: none;
}

body{
    overflow-y: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.hamburger img{
    width: 60px;
    height: 60px;
    padding: 5px;
    border: black 1px solid;
}

.hamburger{
    width: 55px;
    height: 55px;
    padding: 5px;
}

.line:nth-child(1){
    margin-top: 7px;
}

.line{
    width: 50px;
    height: 5px;
    background-color: black;
    border-radius: 15px;
    margin-top: 10px;
}

.lineText{
    margin-left: 1px;
    margin-top: -3px;
}

nav{
    width: 0px;
    height: 860px;
    background: aliceblue;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    top: -90px;
    visibility: hidden;
    transition: all 1s;
}

.noneBox{
    width: 450px;
    visibility: visible;
    opacity: 1;
}

.menu {
    width: 482px;
    overflow: hidden;
    margin-top: 160px;
    margin-left: -32px;
}

.menu > li {
    width: 100%;
    text-align: center;
    line-height: 63px;
    background-color: #5778ff;
}

.menu a {
    color: #fff;
}

.submenu > li {
    line-height: 63px;
    background-color: #94a9ff;
    transition: all 0.5s;
}

.submenu > li:hover{
    background-color: #5B75C6;
}

.submenu {
    margin-left: -32px;
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.menu > li:hover {
    background-color: #94a9ff;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

.imgBox{
    width: 50px;
    height: 50px;
    padding: 5px;
    /* border: 1px solid black; */
    position: absolute;
    top: 100px;
    right: 9px;
}

.close {
    width: 50px;
    height: 50px;
}
.close:before, .close:after {
    position: absolute;
    left: 22px;
    content:' ';
    height: 40px;
    width: 4px;
    background-color: #000;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.imgBox img{
    width: 100%;
    height: 100%;
}

.logo{
    /* margin-left: 190px; */
    font-size: 35px; 
    font-family: 'Kalnia', serif;
    color: lightseagreen;
    font-weight: 600;
}

.logo img{
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-left: -25px;
}

.imgSlide{
    width: 1440px;
    height: 700px;
    position: relative;
    overflow: hidden;
    top: -100px;
}   

.window{
    position: absolute;
    width: 1440px;
    height: 2800px;    
    /* animation: 6s infinite linear window; */
    margin-left: -32px;
    transition: all 1s;
}

.window li{
    width: 1440px;
    height: 700px;
    display: flex;
    justify-content: center;
}

@keyframes window{

    0%{
        bottom: 0px;
    }

    23%{
        bottom: 0px;
    }

    33%{
        bottom: -700px;
    }

    56%{
        bottom: -700px;
    }

    66%{
        bottom: -1400px;
    }

    90%{
        bottom: -1400px;
    }

    100%{
        bottom: -2100px;
    }

}

.slideBox{
    position: absolute;
    width: 500px;
    height: 550px;
    margin-top: 130px;
    text-align: center;
}

.slideBox h4{
    padding: 30px;
}

.btnBox button{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: none;
    border-radius: 50px;
    background-color: black;
    opacity: 0.5;
    color: aliceblue;
    box-shadow: 5px 5px 5px gray;
}

.slideBox > button{
    margin: 5px;
    margin-top: 45px;
    border: none;
    background-color: aliceblue;
    width: 100px;
    height: 40px;
    line-height: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(175, 175, 175);
}

footer{
    width: 100%;
    height: 100px;
    background-color: gray;
    position: relative;
    top: -120px;
    display: flex;
}

.flogo{
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 85px;
}

.copyright{
    width: 600px;
    height: 100px;
}

.icon{
    width: 440px;
    height: 100px;
}