*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img{
    width: 60px;
    height: 60px;
    padding: 5px;
    border: black 1px solid;
}

.logo img{
    width: 80px;
    height: 80px;
    padding: 5px;
    border: green 1px solid;
}

.imgSlide{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}